h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p, section>a, li, button, label, input {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem !important;
}

section {
    padding: 120px 0 90px;
}

footer {
    padding: 70px 0 30px;
}

.bg-light-gray {
    background-color: #efefef;
}

.parallax-window {
    height: 100vh;
}

/*.hlf-bg {
    background: linear-gradient(to right, transparent 50%, #fff 50%), url('images/accounting-analytics-apple-572056.jpg') no-repeat left;
    background-size: cover;
    background: linear-gradient(135deg, transparent 65%, #fff 45%), url('images/accounting-analytics-apple-572056.jpg') no-repeat center;
}*/

section.bg-img-hlf {
    position: relative;
    overflow: hidden;
}

.bg-img-wpr {
    background-image: url('../images/accounting-analytics-apple-572056.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100%;
    position: absolute;
    width: 50%;
    left: 0;
}

.custom-form {
    padding-top: 120px;
    padding-left: 40px;
    padding-bottom: 120px;
}

.footer-li-link {
    column-count: 2;
}

.footer-li-social li i {
    font-size: 24px;
}

@media (max-width: 767px) {
    .bg-img-wpr {
        display: none;
    }
    .custom-form {
        padding-left: 15px;
    }
    .footer-li-link {
        column-count: 1; 
    }
}