.slick-dots li {
    button:before {
        content: '';
        background-color: $base-color;
        width: 12px;
        height: 12px;
    }
    &.slick-active button:before {
        opacity: 1;
    }
}