body {
    font-family: "Open Sans";
}
header.masthead h2 {
    font-size: 1.65rem;
    font-family: "Open Sans";
}
.lead {
	font-size: 1.15rem;
}
/*.footer .btn {
	border: 0;
} 
.footer .btn-outline-light, .footer .btn-outline-light:hover {
	border-color: transparent;
}
.footer .btn-outline-light:hover, .footer .btn-outline-light:focus {
    background-color: transparent;
    color: #18bc9c;
}
.btn-social {
    font-size: 1.55rem;
}*/

/* ONLOAD FADE IN ANIMATION */
.fade {
	animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 
