body {
    font-family: "Open Sans";
}
header.masthead h2 {
    font-size: 1.65rem;
    font-family: "Open Sans";
}
.lead {
	font-size: 1.15rem;
}
/*.footer .btn {
	border: 0;
} 
.footer .btn-outline-light, .footer .btn-outline-light:hover {
	border-color: transparent;
}
.footer .btn-outline-light:hover, .footer .btn-outline-light:focus {
    background-color: transparent;
    color: #18bc9c;
}
.btn-social {
    font-size: 1.55rem;
}*/

/* ONLOAD FADE IN ANIMATION */
.fade {
	animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

nav, header, section, footer {
	overflow: hidden;
}

.bg-secondary, .copyright {
    background-color: #393e46!important;
}

.bg-primary, hr.star-light:after {
    background-color: #00adb5!important;
}

section#portfolio, section#portfolio hr.star-dark:after,
section#contact, section#contact hr.star-dark:after {
	background-color: #eee;
}

.floating-label-form-group {
    border-bottom-color: #ddd;
}

.btn-primary, button.bg-primary:focus {
    background-color: #00adb5!important;
    border-color: #00adb5!important;
}

.footer {
    background-color: #222831!important;
}

.text-secondary, hr.star-dark:after {
	color: #222831!important;
}

hr.star-dark {
	border-color: #222831!important;
}

.portfolio .portfolio-item .portfolio-item-caption {
    background-color: rgba(0,173,181,.9)!important;
}

.btn-outline-light:hover {
     color: #00adb5; 
}

a {
	color: #00adb5;
}

a:active, a:focus, a:hover {
    color: #009299;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #00adb5;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #00adb5!important;
}

@media (min-width: 992px){
	#mainNav .navbar-nav>li.nav-item>a.nav-link.active {
		color: #fff!important;
	    background: #00adb5!important;
	}
}

@media (min-width: 992px){
	#mainNav .navbar-nav>li.nav-item>a.nav-link.active:active, #mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus, #mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
	    background: #00adb5!important;
	}
}

