@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@400;700&display=swap');
/* START PRELOADER STYLE */
.loader-bg {
    position: fixed;
    z-index: 99999;
    background: #393e46;
    width: 100%;
    height: 100%;
}
.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader:before, .loader:after {
    content: '';
    border: 1em solid #00adb5;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before {
    animation-delay: .5s;
}
@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
/* END PRELOADER STYLE */
body {
    font-family: 'Quicksand', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
}
header.masthead h2 {
    font-size: 1.65rem;
    font-family: 'Quicksand', sans-serif;
}
.lead {
	font-size: 1.15rem;
}

/* ONLOAD FADE IN ANIMATION */
/*.fade {
	animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} */

nav, header, section, footer {
	overflow: hidden;
}

.bg-secondary, .copyright {
    background-color: #393e46!important;
}

.bg-primary, hr.star-light:after {
    background-color: #00adb5!important;
}

section#portfolio, section#portfolio hr.star-dark:after,
section#contact, section#contact hr.star-dark:after {
	background-color: #eee;
}

.floating-label-form-group {
    border-bottom-color: #ddd;
}

.btn-primary, button.bg-primary:focus {
    background-color: #00adb5!important;
    border-color: #00adb5!important;
}

.footer {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    background-color: #222831!important;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #fff;
    background-color: #00adb5!important;
}

.text-secondary, hr.star-dark:after {
	color: #222831!important;
}

hr.star-dark {
	border-color: #222831!important;
}

.portfolio .portfolio-item .portfolio-item-caption {
    background-color: rgba(0,173,181,.9)!important;
}

.btn-outline-light:hover {
     color: #009299; 
}

a {
	color: #00adb5;
}

a:active, a:focus, a:hover {
    color: #009299;
}

#about .btn-outline-light:focus {
    color: #212529;
}

#mainNav {
    font-family: 'Quicksand', sans-serif;
}

#mainNav .navbar-brand {
    font-family: 'Nunito', sans-serif;
    font-size: 1.7rem;
    font-weight: 900;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
    border-radius: 50px;
    color: #00adb5;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #00adb5!important;
}

.btn {
    border-radius: 50px;
}

hr.star-dark, hr.star-light {
    max-width: 10rem;
    border-top: solid .2rem;
}

.animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media (min-width: 992px){
	#mainNav .navbar-nav>li.nav-item>a.nav-link.active {
		color: #fff!important;
	    background: #00adb5!important;
	}
}

@media (min-width: 992px){
	#mainNav .navbar-nav>li.nav-item>a.nav-link.active:active, #mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus, #mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
	    background: #00adb5!important;
	}
}

.form-control:focus {
    background-color: transparent;
}
