.row {
	/*background-color: #795548;*/
	padding: 20px;
}
[class*='col'], .callout-text, .callout-button {
	/*background-color: #FFEB3B;*/
	padding: 12px 24px;
	margin-bottom: 20px;
}
[class*='col']:last-of-type {
	margin-bottom: 0;
}
@media only screen and (min-width: 959px) {
	.wpr-85 {
		width: 85%;
		margin: 0 auto;
	}
	.row {
		display: flex;
		padding: 20px 0;
	}
	[class*='col'] {
		flex: 1;
		margin-right: 20px;
		margin-bottom: 0;
	}
	[class*='col']:last-of-type {
		margin-right: 0;
	}
	.callout-text {
		width: 65%;
		margin-right: 20px;
		margin-bottom: 0;
	}
	.callout-button {
		width: 35%;
		margin-right: 0;
	}
}