/* RESET */
html {
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
}
body {
    margin: 0;
}
main {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
hr {
    box-sizing: content-box; 
    height: 0; 
    overflow: visible; 
}
pre {
    font-family: monospace, monospace; 
    font-size: 1em; 
}
a {
    background-color: transparent;
}
abbr[title] {
    border-bottom: none; 
    text-decoration: underline; 
    text-decoration: underline dotted; 
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp {
    font-family: monospace, monospace; 
    font-size: 1em; 
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit; 
    font-size: 100%; 
    line-height: 1.15; 
    margin: 0; 
}
button,
input { 
    overflow: visible;
}
button,
select { 
    text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box; 
    color: inherit; 
    display: table; 
    max-width: 100%; 
    padding: 0; 
    white-space: normal; 
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; 
    padding: 0; 
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield; 
    outline-offset: -2px; 
}
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button; 
    font: inherit; 
}
details {
    display: block;
}
summary {
    display: list-item;
}
template {
    display: none;
}
[hidden] {
    display: none;
}

/* LAYOUT */
.row {
    
    padding: 20px;
}
[class*='col'], .callout-text, .callout-button {
    
    padding: 12px 24px;
    margin-bottom: 20px;
}
[class*='col']:last-of-type {
    margin-bottom: 0;
}
@media only screen and (min-width: 959px) {
    .wpr-85 {
        width: 85%;
        margin: 0 auto;
    }
    .row {
        display: flex;
        padding: 20px 0;
    }
    [class*='col'] {
        flex: 1;
        margin-right: 20px;
        margin-bottom: 0;
    }
    [class*='col']:last-of-type {
        margin-right: 0;
    }
    .callout-text {
        width: 65%;
        margin-right: 20px;
        margin-bottom: 0;
    }
    .callout-button {
        width: 35%;
        margin-right: 0;
    }
}

/* CONTENT STYLE */
body {
    font-family: 'Roboto', sans-serif;
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(22px + (28 - 22) * ((100vw - 320px) / (1920 - 320)));;
    color: #222631;
}
h2 {
    font-family: 'Spartan', sans-serif;
    font-size: calc(28px + (36 - 28) * ((100vw - 1024px) / (1920 - 1024)));
    line-height: calc(34px + (42 - 34) * ((100vw - 320px) / (1920 - 320)));
    margin: 0.5rem 0;
}
p, a {
    margin: 0.5rem 0;
}
nav .col.logo {
    text-align: center;
}
nav .logo img {
    max-width: 160px;
}
nav .main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .main-nav a {
    color: #0C4A9F;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
}
nav .main-nav a:hover {
    color: #fff;
    background-color: #0C4A9F;
}
#hero {
    height: 80vh;
    background: url(../img/hero.jpg) center left no-repeat;
    background-size: cover;
    display: flex;
}
#hero .btn a {
    color: #fff;
    padding: 20px 40px;
    background-color: #0C4A9F;
    text-decoration: none;
    border: 1px solid #0C4A9F;
}
#hero .btn a:hover {
    background-color: transparent;
    color: #0C4A9F;
}
#hero .wpr-85 {
    margin: auto;
}
#hero .intro {
    font-family: 'Spartan', sans-serif;
    
}
#hero div.line-1 {
    font-size: 5vw;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}
#hero div.line-2 {
    font-size: 6.7vw;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 32px;
    margin-bottom: 20px;
}
#hero div.line-3 {
    font-size: 5vw;
    font-weight: 100;
    line-height: 32px;
    margin-bottom: 80px;
}
@media only screen and (min-width: 959px) {
    #hero div.line-2 {
        font-size: 4rem;
    }
    nav .main-nav {
        justify-content: flex-end;
    }
    nav .col.logo {
        text-align: left;
    }
}
@media only screen and (min-width: 628px) {
    #hero div.line-3 {
        font-size: 1.8rem;
    }
}
@media only screen and (min-width: 425px) {
    #hero div.line-1 {
        font-size: 1.6rem;
    }
}
#about {
    background-color: #ececec;
    padding: 80px 0;
}
#about h2
{
    margin-top: 0;
}
#about .col {
    display: flex;
    flex-direction: column;
    align-self: center;
}
#about .accent-photo-wpr {
    text-align: center;
}
#about .accent-photo-wpr img {
    width: 100%;
}
#services {
    padding: 80px 0;
}
#services .col {
    text-align: center;
}
#services img {
    max-width: 300px;
    width: 100%;
}
#services h2 {
    text-align: center;
}
#services a.btn {
    font-size: 0.95rem;
    background-color: #0C4A9F;
    border: 1px solid #0C4A9F;
    color: #fff;
    text-decoration: none;
    padding: 0.9rem 1.6rem;
}
#services a.btn:hover {
    background-color: #fff;
    color: #0C4A9F;
}
#services p {
    margin-bottom: 3.2rem;
}
#callout {
    color: #fff;
    background-color: #0C4A9F;
    padding: 60px 0;
}
#callout .callout-text h3 {
    margin-bottom: 0;
}
#callout .callout-text p {
    margin-bottom: 20px;
}
#callout .callout-button {
    display: flex;
    align-items: center;
}
#callout .callout-button a {
    font-weight: bold;
    font-size: 0.95rem;
    background-color: #fff;
    color: #0C4A9F;
    text-decoration: none;
    padding: 0.9rem 1.6rem;
    border: 1px solid #0C4A9F;
}
#callout .callout-button a:hover {
    border: 1px solid #fff;
    background-color: #0C4A9F;
    color: #fff;
}
#contact {
    padding: 80px 0;
}
#contact form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
#contact form input,
#contact form textarea {
    padding:10px;
    margin-bottom: 20px;
}
#contact form button {
    padding:20px;
    border: 0;
    background-color: #0C4A9F;
    color: #fff;
}
#footer {
    color: #fff;
    background-color: #101a26;
    padding: 60px 0;
}
#footer img {
    width: 100%;
    max-width: 300px;
}
#footer .links {
    columns: 2;
    padding-left: 15px;
    line-height: 1.8rem;
    list-style-image: url(../img/chevron.svg);
}
#footer .links a {
    color: #fff;
    text-decoration: none;
}
#footer .links a:hover {
    color: #0C4A9F;
}
#footer .ipa-logo {
    margin-bottom: 20px;
}
#contact-us {
    padding: 80px 0;
}
#contact-us h2 {
    text-align: center;
}
#contact-us .photo {
    text-align: center;
    
}
#contact-us .photo img {
    width: 100%;
    max-width: 180px;
}
#contact-us .col {
    text-align: left;
}
#contact-us .profile {
    margin-bottom: 40px;
    border-bottom: 1px solid #ececec;
}
#contact-us .profile ul {
    line-height: 1.8rem;
    list-style-image: url(../img/checkmark.svg);
}
#contact-us .profile .callout-button {
    margin-bottom: 0;
}
#contact.inner-page {
    background-color: #ececec;
}
#contact.inner-page form {
    margin-top: 0;
}