$base-color: #365595;
// $base-color: #4469c9;
// $base-color: #3d59b5;
$white-color: #FFFFFF;
$grey-color: #d6dbe1;
$lightBlue-color: #5070b3;

$dark-grad: #3C6CB4;
$light-grad: #56CAEF;

// $dark-grad: #3C6CB4;
// $light-grad: #56CAEF;