// $base-color: #1B79D0;
$base-color: #1756c0;
// $base-color: #4469c9;
// $base-color: #3d59b5;
$white-color: #FFFFFF;
$grey-color: #5572a3;
// $grey-color: #d6dbe1;
// $lightBlue-color: #40A0F9;
$lightBlue-color: #2c7eff;

$dark-grad: #062157;
$mid-grad: #073d7a;
$light-grad: #1A79D0;

// $dark-grad: #3C6CB4;
// $light-grad: #56CAEF;