.cta-box {
    background-color: $base-color;
    color: $white-color;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border-width: 0 40px 40px 0;
        border-style: solid;
        border-color: $lightBlue-color $white-color;
    }
    h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }
}

.cta-box-top {
    padding: 1rem 3rem;
    position: relative;
    color: $white-color;
    background-color: $base-color;
    text-transform: uppercase;
    @media (min-width: 768px) {
        padding: 2rem 4rem;
    }
    @media (max-width: 1024px) {
        max-width: 100%;
    }
    @media (min-width: 1025px) {
        margin-top: -115px;
    }
    [class*=col] {
        padding: 1.5rem 0;
        @media (min-width: 992px) {
            padding: 2.5rem 0;
        }
        &:first-child {
            @media (min-width: 768px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        &:last-child {
            border-top: 1px solid rgba($color: $white-color, $alpha: 0.1);
            @media (min-width: 768px) {
                border-left: 1px solid rgba($color: $white-color, $alpha: 0.1);
                border-top: none;
                padding-left: 2.5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            @media (min-width: 992px) {
                padding-left: 4rem;
            }
        }
    }
    .btn {
        padding: .75rem 1.75rem;
        &.btn-outline-primary:not(:disabled):not(.disabled) {
            color: $white-color;
            border-radius: 0;
            border: 2px solid $white-color;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            &:hover,
            &:active,
            &:active:focus {
                color: $base-color;
                background-color: $white-color;
                box-shadow: none;
            }
        }
    }
    h5 {
        font-size: 22px;
        font-weight: 200;
    }
    h2 {
        font-size: 48px;
        font-weight: 600;
    }
    .call-us {
        a {
            color: $white-color;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            &:hover {
                color: $white-color;
            }
        }
    }
    // &::before {
    //     content: '';
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     background: url(../img/contact-bg-2.jpg) center no-repeat;
    //     background-size: cover;
    //     opacity: 0.9;
    // }
}

.form-control,
.custom-select {
    border-radius: 0;
}

.btn {
    padding: .75rem 1.75rem;
    &.btn-outline-primary:not(:disabled):not(.disabled) {
        color: $white-color;
        border-radius: 0;
        border: 2px solid $white-color;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        &:hover,
        &:active,
        &:active:focus {
            color: $base-color;
            background-color: $white-color;
            box-shadow: none;
        }
        &:focus {
            box-shadow: none;
        }
    }
}

.btn-blue {
    padding: .75rem 1.75rem;
    &.btn-outline-primary:not(:disabled):not(.disabled) {
        color: $base-color;
        border-radius: 0;
        border: 2px solid $base-color;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        &:hover,
        &:active,
        &:active:focus {
            color: $white-color;
            background-color: $base-color;
            box-shadow: none;
        }
        &:focus {
            box-shadow: none;
        }
    }
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    div {
        width: 200px;
        height: 8px;
        transform: skew(-35deg);
        background: $base-color;
        margin-left: 5px;
    }
    span:nth-child(2),
    span:nth-child(4) {
        display: flex;
        &:before,
        &:after {
            content: '';
            display: block;
            background-color: $base-color;
            width: 10px;
            height: 8px;
            transform: skew(-35deg);
            margin-left: 5px;
        }
    }
    span:nth-child(1),
    span:nth-child(5) {
        display: flex;
        &:before {
            content: '';
            display: block;
            background-color: $base-color;
            width: 10px;
            height: 8px;
            transform: skew(-35deg);
            margin-left: 5px;
        }
    }
}

.divider-center-light {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    div {
        width: 200px;
        height: 8px;
        transform: skew(-35deg);
        background: $white-color;
        margin-left: 5px;
    }
    span:nth-child(2),
    span:nth-child(4) {
        display: flex;
        &:before,
        &:after {
            content: '';
            display: block;
            background-color: $white-color;
            width: 10px;
            height: 8px;
            transform: skew(-35deg);
            margin-left: 5px;
        }
    }
    span:nth-child(1),
    span:nth-child(5) {
        display: flex;
        &:before {
            content: '';
            display: block;
            background-color: $white-color;
            width: 10px;
            height: 8px;
            transform: skew(-35deg);
            margin-left: 5px;
        }
    }
}

.divider-light {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    div {
        width: 200px;
        height: 8px;
        transform: skew(-35deg);
        background: $white-color;
        margin-left: 5px;
    }
    span:nth-child(2) {
        display: flex;
        &:before,
        &:after {
            content: '';
            display: block;
            background-color: $white-color;
            width: 10px;
            height: 8px;
            transform: skew(-35deg);
            margin-left: 5px;
        }
    }
    span:nth-child(3) {
        display: flex;
        &:before {
            content: '';
            display: block;
            background-color: $white-color;
            width: 10px;
            height: 8px;
            transform: skew(-35deg);
            margin-left: 5px;
        }
    }
}

.divider-blue {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    div {
        width: 200px;
        height: 8px;
        transform: skew(-35deg);
        background: $base-color;
        margin-left: 5px;
    }
    span:nth-child(2) {
        display: flex;
        &:before,
        &:after {
            content: '';
            display: block;
            background-color: $base-color;
            width: 10px;
            height: 8px;
            transform: skew(-35deg);
            margin-left: 5px;
        }
    }
    span:nth-child(3) {
        display: flex;
        &:before {
            content: '';
            display: block;
            background-color: $base-color;
            width: 10px;
            height: 8px;
            transform: skew(-35deg);
            margin-left: 5px;
        }
    }
}

.back-to-top {
    padding: 0.8rem 1.125rem;
    position: fixed;
    bottom: 25px;
    right: 20px;
    display: none;
    background-color: rgba($color: $base-color, $alpha: 0.85);
    border-radius: 0;
    border: none;
    z-index: 9999;
    img {
        display: inline-block;
        width: 24px;
        transition: all 0.2s ease-in-out;
    }
    &:hover {
        background-color: rgba($color: $base-color, $alpha: 0.95);
        img {
            transform: translateY(-5px);
        }
    }
}

.hidden-c {
    .wowo {
        opacity: 0;
        &.animated {
            -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
            visibility: visible;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }
    }
}

.fadeInUp {
    &.animated {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
    }
}

.modal {
    .modal-content {
        color: $white-color;
        border: none;
        border-radius: 0;
        .modal-header {
            .close {
                font-size: 0;
                line-height: 0;
                &:hover {
                    transform: rotate(90deg);
                    transform-origin: center center;
                }
            }
        }
        .modal-body {
            padding-left: 3rem;
            padding-right: 3rem;
            h4 {
                font-size: 32px;
                font-weight: 500;
                text-transform: uppercase;
                margin-bottom: 20px;
                &.heading-divider {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    &::after {
                        content: '';
                        width: 80px;
                        height: 5px;
                        background-color: $white-color;
                        margin-top: 20px;
                    }
                }
            }
            img {
                max-width: 230px;
                transition: all 0.2s ease-in-out;
                @media (min-width: 992px) {
                    max-width: 100%;
                }
            }
            .tagline {
                font-family: 'Georgia', serif;
                font-style: oblique;
                background-color: rgba($color: $white-color, $alpha: 0.1);
                display: inline-block;
                padding: 0.35rem 0.55rem;
            }
        }
        .modal-footer {
            border: none;
            padding-left: 3rem;
            padding-right: 3rem;
            padding-bottom: 3rem;
            .btn-next {
                display: inline-block;
                opacity: 0.5;
                transition: all 0.2s ease-in-out;
                &:hover {
                    cursor: pointer;
                    opacity: 1;
                    transform: translateX(5px);
                }
            }
            .btn-back {
                display: inline-block;
                opacity: 0.5;
                transition: all 0.2s ease-in-out;
                &:hover {
                    cursor: pointer;
                    opacity: 1;
                    transform: translateX(-5px);
                }
            }
        }
        .close {
            color: $white-color;
            text-shadow: none;
            transition: all 0.2s ease-in-out;
        }
    }
}

.heading-divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    &::after {
        content: '';
        width: 80px;
        height: 5px;
        background-color: $base-color;
        margin-top: 20px;
    }
}
.heading-divider-white {
    display: flex;
    flex-direction: column;
    align-items: center;
    &::after {
        content: '';
        width: 60px;
        height: 4px;
        background-color: $white-color;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

.heading-divider-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &::after {
        content: '';
        width: 80px;
        height: 5px;
        background-color: $base-color;
        margin-top: 20px;
    }
}
.heading-divider-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &::after {
        content: '';
        width: 80px;
        height: 5px;
        background-color: $base-color;
        margin-top: 20px;
    }
}

.scrollbar {
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px $grey-color;
        background-color: $lightGrey-color;
    }
    &::-webkit-scrollbar {
        width: 6px;
        background-color: $lightGrey-color;
    }
    &::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px $base-color;
        background-color: $base-color;
    }
}

.main-scrollbar {
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 12px $grey-color;
        background-color: $lightGrey-color;
    }
    &::-webkit-scrollbar {
        width: 18px;
        background-color: $lightGrey-color;
    }
    &::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 12px $base-color;
        background: linear-gradient(90deg, $light-grad 0%, $mid-grad 50%, $dark-grad 100%);
    }
}

.skewbox {
    transform: skew(-35deg);
    background: $base-color;
    padding: 0.45rem 1.75rem 0;
    display: inline-block;
    color: $white-color;
    h4 {
        text-transform: uppercase;
        font-weight: 500;
        transform: skew(35deg);
        @media (max-width: 767px) {
            font-size: 18px;
        }
    }
    h5 {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 21px;
        transform: skew(35deg);
        @media (max-width: 767px) {
            font-size: 18px;
        }
    }
    & + span,
    & + span + span,
    & + span + span + span {
        width: 10px;
        margin-left: 5px;
        transform: skew(-35deg);
        background: $base-color;
        display: inline-block;
    }
}

// .loader {
//     &::before, &::after {
//         content: '';
//         border: 1em solid $white-color;
//         border-radius: 50%;
//         width: inherit;
//         height: inherit;
//         position: absolute;
//         top: 0;
//         left: 0;
//         animation: loader 2s linear infinite;
//         opacity: 0;
//     }
//     &::before {
//         animation-delay: .5s;
//     }
// }

.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid $white-color;
    border-right-color: transparent;
    position: relative;
    animation-name: spinner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    &::after,
    &::before {
        content: "";
        background-color: transparent;
        position: absolute;
        border-radius: 50%;
        z-index: -1;
    }
    &::after {
        width: 68px;
        height: 68px;
        border: 5px solid $white-color;
        border-left-color: transparent;
        left: -14px;
        top: -14px;
    }
    &::before {
        width: 86px;
        height: 86px;
        border: 5px solid $white-color;
        border-bottom-color: transparent;
        left: -23px;
        top: -23px;
    }
}

.icon-scroll {
    width: 40px;
    height: 70px;
    margin-left: -20px;
    bottom: 10%;
    margin-top: -35px;
    -webkit-box-shadow: inset 0 0 0 1px #fff;
            box-shadow: inset 0 0 0 1px #fff;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    &::before {
        position: absolute;
        left: 50%;
        content: '';
        width: 8px;
        height: 8px;
        background: #fff;
        margin-left: -4px;
        top: 8px;
        border-radius: 4px;
        -webkit-animation-duration: 1.5s;
                animation-duration: 1.5s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        -webkit-animation-name: scroll;
                animation-name: scroll;
    }
}