header {
    color: $white-color;
    width: 100%;
    height: calc(100% - 84px);
    background: url(''), linear-gradient(70deg, $dark-grad 0%, $mid-grad 50%, $light-grad 100%);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    .nav-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        nav {
            &.navbar {
                padding: 1rem 1.5rem;
                transition: all 0.2s ease-in-out;
                &.navbar-dark {
                    .navbar-nav {
                        .nav-item {
                            margin: 0 1.2rem;
                            .nav-link {
                                font-size: 14px;
                                font-weight: 600;
                                text-transform: uppercase;
                            }
                        }
                    }
                    .navbar-brand {
                        width: 110px;
                    }
                    &.navbar-shrink {
                        background: linear-gradient(70deg, $dark-grad 0%, $mid-grad 50%, $light-grad 100%) !important;
                        padding: .5rem 1rem;
                        box-shadow: 0 0 65px 0 rgba($color: $dark-grad, $alpha: 0.65);
                        .nav-link {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
        .hero {
            height: calc(100% - 200px);
            display: flex;
            align-items: center;
            h1 {
                font-size: 96px;
                font-weight: 700;
                text-transform: uppercase;
            }
            h5 {
                font-size: 24px;
                font-weight: 200;
                text-transform: uppercase;
            }
            .skewbox {
                transform: skew(-35deg);
                background: $base-color;
                padding: 0.75rem 2rem 0.2rem;
                display: inline-block;
                h4 {
                    text-transform: uppercase;
                    font-weight: 700;
                    transform: skew(35deg);
                }
                & + span,
                & + span + span,
                & + span + span + span {
                    width: 10px;
                    margin-left: 5px;
                    transform: skew(-35deg);
                    background: $base-color;
                    display: inline-block;
                }
            }
            
        }
    }
}

main {
    h5 {
        text-transform: uppercase;
        font-weight: 400;
    }
    h2 {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 40px;
    }
    section {
        padding: 120px 0;
        .accent-wrapper {
            position: relative;
            max-width: 100%;
            max-height: 100%;
            img:first-child {
                position: absolute;
                top: 150px;
                right: 0;
                z-index: 1;
                max-width: 80%;
            }
            img:last-child {
                position: absolute;
                z-index: 0;
                max-width: 60%;
            }
        }
        .blue-box {
            background-color: $base-color;
            color: $white-color;
            padding: 3.5rem 2rem 3rem;
            display: flex;
            justify-content: center;
        }
        .box-outline {
            border: 1px solid $base-color;
        }
        &.products-services {
            // background-color: rgba($color: $grey-color, $alpha: 0.2);
            // position: relative;
            // overflow: hidden;
            // .img-parallax {
            //     width: 100%;
            //     height: 100%;
            //     z-index: 0;
            //     position: absolute;
            //     top: -800px;
            //     pointer-events: none;
            //     background: url(../img/products-services-bg.jpg) center top no-repeat;
            //     opacity: 0.055;
            //     background-size: cover;
            //     filter: grayscale(100%);
            // }
            // &:before {
            //     content: '';
            //     display: block;
            //     width: 100%;
            //     height: 100%;
            //     position: absolute;
            //     top: 0;
            //     bottom: 0;
            //     left: 0;
            //     right: 0;
            //     background: url(../img/products-services-bg.jpg) center right fixed no-repeat;
            //     opacity: 0.075;
            //     background-size: cover;
            //     z-index: 0;
            //     filter: grayscale(100%);
            // }
            .blue-box {
                flex-direction: column;
                align-items: center;
                text-align: center;
                transition: all 0.25s ease-in-out;
                h5 {
                    margin-bottom: 0;
                    font-weight: 700;
                    line-height: 1.5em;
                    &:after {
                        content: '';
                        display: block;
                        width: 100px;
                        border-bottom: 1px solid rgba($color: $white-color, $alpha: 0.2);
                        margin: 1.25rem auto;
                    }
                }
                &:hover {
                    transform: translateY(-20px);
                }
            }
            .box-outline-group {
                border: 1px solid $base-color;
                position: relative;
                .box-outline {
                    padding: 3rem;
                    ul {
                        list-style-image: url(../img/list-bullet.svg);
                        padding-left: 20px;
                        li {
                            margin-bottom: 1rem;
                            padding-left: 10px;
                        }
                    }
                    h5 {
                        margin-bottom: 0;
                        font-weight: 700;
                        line-height: 1.8em;
                        text-transform: capitalize;
                        &:after {
                            content: '';
                            display: block;
                            width: 100%;
                            border-bottom: 1px solid rgba($color: $mid-grad, $alpha: 0.25);
                            margin: 1.25rem auto;
                        }
                    }
                }
            }
            .accordion {
                .card {
                    border: 1px solid $base-color;
                    border-radius: 0;
                    margin-bottom: 1rem;
                    .card-header {
                        background-color: $base-color;
                        h2 {
                            display: flex;
                            .btn-link {
                                color: #fff;
                                text-transform: uppercase;
                                font-weight: 700;
                                font-size: 18px;
                            }
                            img {
                                max-width: 20px;
                                margin-right: 1rem;
                                transform: rotate(-180deg);
                                transform-origin: center;
                                transition: all 0.25s ease-in-out;
                            }
                            .collapsed + img {
                                transform: rotate(0);
                            }
                        }
                    }
                    ul {
                        list-style-image: url(../img/list-bullet.svg);
                        li {
                            margin-bottom: 1rem;
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
        &.partners-clients {
            .logos {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                div {
                    max-width: 200px;
                }
            }
        }
        &.cta-box {
            background-color: $base-color;
            color: $white-color;
            display: flex;
            justify-content: center;
            padding-top: 80px;
            padding-bottom: 80px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                border-width: 0 40px 40px 0;
                border-style: solid;
                border-color: $lightBlue-color $white-color;
            }
            h3 {
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
            }
        }
        &.about {
            padding-bottom: 0;
            .office-photos {
                margin-top: 120px;
            }
            .mapouter { 
                position: relative;
                text-align: right;
                height: 500px;
                width: 100%;
                .gmap_canvas {
                    overflow: hidden;
                    background: none!important;
                    height: 500px;
                    width: 100%;
                }
            }
            .office-photos {
                display: flex;
                .photo {
                    width: 25%;
                    height: 320px;
                    background-size: cover;
                    background-position: center;
                }
            }
        }
        &.career {
            padding: 240px 0;
        }
        &.message {
            [class^=col]:first-of-type {
                padding: 4rem;
                color: $white-color;
                background-color: $base-color;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url(../img/products-services-bg.jpg);
                    background-size: cover;
                    filter: grayscale(100%);
                    opacity: 0.05;
                    z-index: 0;
                }
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-width: 0 0 40px 40px;
                    border-style: solid;
                    border-color: $lightBlue-color $white-color;
                    z-index: 1;
                }
                h2 {
                    font-weight: 700;
                }
            }
            [class^=col]:last-of-type {
                padding: 4rem;
                border: 2px solid $base-color;
                .form-group {
                    margin-bottom: 2rem;
                }
            }
        }
    }
}

footer {
    color: $white-color;
    padding: 120px 0;
    // background-color: $dark-color;
    background: linear-gradient(70deg, $dark-grad 0%, $mid-grad 50%, $light-grad 100%);
    img {
        width: 215px;
        &.icon {
            width: 20px;
        }
    }
    h4 {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
    h5 {
        font-size: 18px;
        font-weight: 400;
    }
    p {
        font-weight: 200;
        font-size: 16px;
        color: rgba($color: $white-color, $alpha: 0.6);
        line-height: 1.8em;
    }
    li {
        margin-bottom: 1rem;
        a {
            color: rgba($color: $white-color, $alpha: 0.6);
            font-weight: 200;
            font-size: 16px;
            &:hover {
                color: rgba($color: $white-color, $alpha: 1);
            }
        }
    }
    .media {
        .media-body {
            padding-left: 0.75rem;
        }
    }
    hr {
        border-top: 1px solid rgba($color: $white-color, $alpha: 0.1);
    }
    .list-social {
        a {
            img {
                opacity: 0.6;
                width: 26px;
            }
            &:hover {
                img {
                    opacity: 1;
                }
            }
        }
        .list-inline-item:not(:last-child) {
            margin-right: 1rem;
        }
    }
}