#about {
    background-color: #f8f8f8;
    .skills img {
        opacity: 0.3;
        transition: all 0.2s ease-in-out;
        &:hover {
            transform: translateY(0.4rem);
            opacity: 1;
        }
        @include mq(desktop-small, max) {
            @include box(80%);
        }
        @include mq(tablet, max) {
            margin-bottom: 2rem;
            @include box(100%);
        }
    }
}