@keyframes upDown {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes fadeIt {
    0% { 
        width: 0;
        background-color: $color-white; 
    }
    100% { 
        width: 100%;
        background-color: $color-primary; 
    }
}

.up-down {
    animation: upDown 2s ease-in-out infinite alternate-reverse both;
}