// $color-primary: #23c985;
$color-primary: #007bff;
// $color-secondary: #1cb48d;
$color-secondary: #007bff;
$color-white: #fff;
$color-light: #e9ecef;
$color-black: #000;
$color-dark: #262e33;
$color-neutral: #F1F4F8;