.green-sea {background-color: #19be9b}
.nephritis {background-color: #2dc873}
.belize-hole {background-color: #3296dc;}
.wisteria {background-color: #9b5ab4;}
.orange {background-color: #f0c30f;}
.pumpkin {background-color: #e67d23;}
.pomegranate {background-color: #e64b3c;}

$color-primary: rgba(35, 201, 133, 1);
$color-secondary: rgba(28, 180, 141, 1);
$color-white: rgba(255, 255, 255, 1);
$color-light: rgba(233, 236, 239, 1);
$color-black: rgba(0, 0, 0, 1);
$color-charcoal: rgba(38, 46, 51, 1);